<section class="article-list container-fluid">
    <div class="row">
        <article class="featured">
            <div class="bg-img">

            </div>
            <div class="headline">

            </div>
            <div class="meta-data">
                Written by <span class="author">Bryan Stopp</span> on <span class="date">March 21, 2015</span>
            </div>
        </article>
        <article>
            <div class="bg-img">

            </div>
            <div class="headline">

            </div>
            <div class="meta-data">
                Written by <span class="author">Bryan Stopp</span> on <span class="date">March 21, 2015</span>
            </div>
        </article>
    </div>
</section>